<!DOCTYPE html>
<html xmlns:th="http://thymeleof.org">
<head th:replace="layout/plantilla :: head"></head>

<body>

	<header th:replace="layout/plantilla :: header"></header>



	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header">
				<h4>
					<strong th:text="${titulo}"></strong>
				</h4>
			</div>
			<div class="card-body">
				<form th:action="@{/formpaciente}" th:object="${paciente}"
					method="post">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">DNI</label>
						<div class="col-sm-6">
							<input type="number" th:field="*{dni_paciente}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('dni_paciente')}"
								th:errors="*{dni_paciente}"></small>
							<!-- la expresion de arriba busca si hay errores en el campo, si los hay arroja el error correspondiente -->
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{nombre_paciente}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('nombre_paciente')}"
								th:errors="*{nombre_paciente}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Apellido</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{apellido_paciente}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('apellido_paciente')}"
								th:errors="*{apellido_paciente}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Fecha de Nacimiento</label>
						<div class="col-sm-6">
							<input type="date" th:field="*{fecha_nacimiento_pa}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('fecha_nacimiento_pa')}"
								th:errors="*{fecha_nacimiento_pa}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Sexo</label>
						<div class="col-sm-6">
							<select th:field="*{sexo_paciente}" class="form-control">
								<option th:value="Hombre">Hombre</option>
								<option th:value="Mujer">Mujer</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Direccion</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{direccion_paciente}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('direccion_paciente')}"
								th:errors="*{direccion_paciente}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Telefono</label>
						<div class="col-sm-6">
							<input type="tel" th:field="*{tel_paciente}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('tel_paciente')}"
								th:errors="*{tel_paciente}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{email_paciente}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('email_paciente')}"
								th:errors="*{email_paciente}"></small>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" value="Crear Paciente"
								class="btn btn-primary" />
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>