<!DOCTYPE html>
<html xmlns:th="http://thymeleof.org">
<head>
<meta charset="UTF-8" />
<title th:text="${tituloform}"></title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="#">C.P.M.</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav nav">
				<li class="nav-item active">
					<a class="nav-link" href="#about" th:href="@{/index}">Inicio</a>
				</li>				
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" role="button">Archivo</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
              			<a class="dropdown-item" href="#">Mis Datos</a>
              			<a class="dropdown-item" href="#">Eliminar Cuenta</a>
              			<a class="dropdown-item" href="#">Salir</a>
            		</div>
				</li>					
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" role="button">Pacientes</a>
					<div class="dropdown-menu" aria-labelledby="dropdown02">
              			<a class="dropdown-item" href="#">Buscar Paciente</a>
              			<a class="dropdown-item" href="#about" th:href="@{/listar}">Listar Pacientes</a>
              			<a class="dropdown-item" href="#about" th:href="@{/formpaciente}">Alta Paciente</a>
            		</div>
				</li>				
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" role="button">Turnos</a>
					<div class="dropdown-menu" aria-labelledby="dropdown03">
              			<a class="dropdown-item" href="#">Buscar un Turno</a>
              			<a class="dropdown-item" href="#">Sacar un Turno</a>
              			<a class="dropdown-item" href="#">Mostrar Turnos</a>
            		</div>
				</li>	
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="dropdown04" data-toggle="dropdown" role="button">Nota</a>
					<div class="dropdown-menu" aria-labelledby="dropdown04">
              			<a class="dropdown-item" href="#">Crear Nota</a>
              			<a class="dropdown-item" href="#">Mostrar Notas</a>
               		</div>
				</li>				
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="dropdown05" data-toggle="dropdown" role="button">Ayuda</a>
					<div class="dropdown-menu" aria-labelledby="dropdown05">
              			<a class="dropdown-item" href="#">Información</a>
            		</div>
				</li>	
			</ul>
		</div>	
	</nav>


    
	<div class="container">
		<h1
			class="text-secondary border border-primary border-top-0 border-left-0 border-right-0"
			th:text="${tituloform}"></h1>

		<form th:action="@{/formpaciente}" th:object="${paciente}" method="post">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">DNI</label>
				<div class="col-sm-6">
					<input type="number" th:field="*{dni_paciente}" class="form-control" th:errorclass="'form-control alert-danger'"/>
					<small class="form-text text-danger" th:if="${#fields.hasErrors('dni_paciente')}" th:errors="*{dni_paciente}"></small>
					<!-- la expresion de arriba busca si hay errores en el campo, si los hay arroja el error correspondiente -->
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Nombre</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{nombre_paciente}" class="form-control" th:errorclass="'form-control alert-danger'"/>
					<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre_paciente')}" th:errors="*{nombre_paciente}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Apellido</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{apellido_paciente}" class="form-control" th:errorclass="'form-control alert-danger'"/>
					<small class="form-text text-danger" th:if="${#fields.hasErrors('apellido_paciente')}" th:errors="*{apellido_paciente}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Fecha de Nacimiento</label>
				<div class="col-sm-6">
					<input type="date" th:field="*{fecha_nacimiento_pa}" class="form-control" th:errorclass="'form-control alert-danger'"/>
					<small class="form-text text-danger" th:if="${#fields.hasErrors('fecha_nacimiento_pa')}" th:errors="*{fecha_nacimiento_pa}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Sexo</label>
				<div class="col-sm-6">
					<select th:field="*{sexo_paciente}" class="form-control">
						<option th:value="Hombre">Hombre</option>
						<option th:value="Mujer">Mujer</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Dirección</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{direccion_paciente}"	class="form-control" th:errorclass="'form-control alert-danger'"/>
					<small class="form-text text-danger" th:if="${#fields.hasErrors('direccion_paciente')}" th:errors="*{direccion_paciente}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Teléfono</label>
				<div class="col-sm-6">
					<input type="tel" th:field="*{tel_paciente}" class="form-control" th:errorclass="'form-control alert-danger'"/>
					<small class="form-text text-danger" th:if="${#fields.hasErrors('tel_paciente')}" th:errors="*{tel_paciente}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Email</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{email_paciente}" class="form-control" th:errorclass="'form-control alert-danger'"/>
					<small class="form-text text-danger" th:if="${#fields.hasErrors('email_paciente')}" th:errors="*{email_paciente}"></small>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Crear Paciente"	class="btn btn-primary" />
				</div>
			</div>




			
		</form>
	</div>

	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/jquery-slim.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>	
</body>
</html>