<!DOCTYPE html>
<html xmlns:th="http://thymeleof.org">
<head th:replace="layout/plantilla :: head"></head>

<body id="mifondo">

	<header th:replace="layout/plantilla :: header"></header>


	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header">
				<h3 class="text-center">
					<strong th:text="${bienvenido}"></strong>
				</h3>
				<h4 class="text-center">
					<strong th:text="${sistemacpm}"></strong>
				</h4>
			</div>
			<div class="card-body" >
				<div align="center">
					<iframe src="https://calendar.google.com/calendar/embed?title=Calendario&amp;showPrint=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=es.ar%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FArgentina%2FBuenos_Aires" style="border-width:0" width="800" height="600" th:frameborder="0" th:scrolling="no"></iframe>
				</div>
			</div>

		</div>

		
		<!--  -->
		
		
	</div>



	<footer th:replace="layout/plantilla :: footer"></footer>
	
</body>
</html>