<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/plantilla :: head"></head>
<link rel="stylesheet" th:href="@{/css/login2.css}" />

<body id="mifondo">
		
	
	<div class="container py-4">
		
		<form th:action="@{/login}" method="POST" class="form-signin">
			
			<h2 class="form-signin-heading">
				<strong th:text="Bienvenido"></strong>
			</h2>
			<h5 class="form-signin-heading">
				<strong>Sistema Centralizado para profesionales Médicos</strong>
			</h5>
			<br/>
			 
			<input type="text" id="email" name="email"  th:placeholder="Email"
				class="form-control" /> <br/> 
			<input type="password"  th:placeholder="Password"
				id="password" name="password" class="form-control" /> <br/> 
				
			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Email o Password invalido</p>
			</div>
			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
		</form>
		
		<div class="form-signin">
			
				<form th:action="@{/registration}" method="get">
					<button class="btn btn-info btn-block" type="Submit" >Nuevo? Registrate aqui.</button>
				</form>
			
		</div>
	</div>
	<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>